body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.gallery {
    max-width: 1440px;
    list-style-type: none;
    padding: 24px 156px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.gallery-item img {
    width: 360px;
    height: 200px;
    transition: transform 0.5s ease;
}

.gallery-item img:hover {
    cursor: url('bxs_hand-down.svg'), pointer;
    transform: scale(1.04444, 1.04);
}

.gallery-image {
    display: block;
    width: 360px;
    height: 300px;
    object-fit: cover;
}